{% extends "tasks/layout.html" %}
{% block body%}
    <!--  looping with tasks -->
    <ul>
        <h1>Tasks</h1>
        {% for task in tasks%}
        <li>{{ task }}</li>
        {% empty%}
        <h1>No Tasks</h1>
        {% endfor %}
    </ul>
    <a href="{% url 'tasks:add' %}">Add a new task</a>
{%endblock%}


<!-- CREATE TABLE flights(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    origin TEXT NOT NULL,
    destination TEXT NOT NULL,
    duration INTEGER NOT NULL
); -->

<!-- INSERT INTO flights(origin, destination, duration)
VALUES("New York", "London", 415); -->

<!-- SELECT ALL(*) FROM flights; -->


